body{
	background-image: url('recursos/fondo.png');
	background-size: cover;
	text-align: center;
}
h1{
	font-size: 3rem;
}
#meiosis{
	float: left;
	width: 45%;
	text-align: center;
	font-size:1.3rem;
}
#mitosis{
	float: right;
	width: 45%;
	text-align: center;
	font-size:1.3rem;
}
h3{
	font-size: 1.5rem;
}
div{
	background-color: rgba(156, 218, 238, 0.6);
	padding: 0.5rem;
	border-radius: 1rem;
}
video{
	width: 60%;
}
#pregunta_1,#pregunta_2,#pregunta_3,#pregunta_0{
	width: 60%;
	margin: auto;
}
h2{
	font-size: 2.5rem;
}
.preguntas{
	font-size: 1.3rem;
}

         button {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
         button {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            font-size: 1.3rem;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
       
          }

          button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
