body{
	font-family: calibri;
	background-color: #a9d3ec;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2392a6ac' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#contenido{
	height: 80vh;
	display: grid;
	margin: 0 auto;
	text-align: center;
}
#inicio{
	border-radius:1rem ;
	width: 70%;
	margin:  auto;
	background-image: url("recursos/fondo.png");
	background-size:100% 100%;
	background-color: rgba(255, 255, 255, 0.6);
}
#titulo{
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
}
#video1{
	width: 70%;
}
#video{
	text-align: center;
	margin: auto;
}
#exp{
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 1.5rem;


}
                            @media only screen and (orientation:portrait) {
        #wrapper { display:none; }
				    #contenido{display:none;}
        #aviso-movil-horizontal { 
          display:block;
      font-size: 1rem;
                text-align: center;
                font-weight: bolder;}
		    
      
    }

    @media only screen and (orientation:landscape) {
        #aviso-movil-horizontal { display:none; }
    }
button{

           
      	         background-color: blueviolet;
                color: white;
                font-size: 20px;
                text-align: center;
                font-weight: bolder;
                padding: 3px;
                border: solid 2px black;

            }
          button:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
                background-color: lightcoral;
                font-size: 22px;
                border: groove 4px red;
            }
